<div class='container my-5'>
  <div class='row'>
    <h2 class="mx-auto">POSTS LIST</h2>
  </div>

  <div class='row'>
    <%= render "public/posts/soat" %>
  </div>
  
  <div class='jscroll-div'>

    <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
      <%= render "public/posts/index", posts: @posts %>
    </div>
    <%= paginate @posts %>
  </div>
</div>

<script>
  $('.jscroll-div').jscroll({
    contentSelector: '.jscroll-div',
    nextSelector: 'a.jscroll-next',
    loadingHtml: '読み込み中',
    padding: 10
  });
</script>