<!--<h1>Public::Posts#show</h1>-->
<!--<p>Find me in app/views/public/posts/show.html.erb</p>-->

<div class='container'>
  <div class='row'>
    <h1 class="px-3 mx-auto">投稿詳細</h1>
  </div>
  
  <div class='row'>
    <div></div>
  </div>
</div>