<div class="container my-5">
  <div class="row">
    <h2 class="mx-auto">ChallengePic ガイドライン</h2>
  </div>
  
  <div class="row">
    <h3 class="pt-3">はじめに</h3>
    <p>ChallengePicは毎日提示される日替わりのテーマ（挑戦）に参加して、新たな視点や発見を共有することを目的としています。クリエイティブな視点を広げ、写真を通じてコミュニケーションを取る場所を提供します。</p>
  </div>
  
  <div class="row">
    <h3 class="pt-3">1. ユーザー間のコミュニケーション</h3>
    <p>PicWalkはユーザー全員が安心して楽しめるコミュニティを目指しています。コメントやメッセージのやり取りは、常に尊重と敬意を持って行ってください。攻撃的な言葉遣い、ハラスメント、差別的な発言は固く禁じられています。</p>
  </div>
  
  <div class="row">
    <h3 class="pt-3">2. コンテンツの所有権</h3>
    <p>ChallengePic上でユーザーが投稿した写真の所有権は、投稿したユーザーに帰属します。他のユーザーがあなたの写真を無断で使用することは許可されていません。また、他人の作品を自分のものとして投稿することは固く禁じられています。投稿する写真はすべて自分自身が撮影したものであることを確認してください。</p>
  </div>
  
  <div class="row guideline-bg-div">
    <div class="col text-center">
      <%= image_tag 'guideline_image.png', class: 'img-fluid guideline-bg' %>
    </div>
  </div>
</div>

