<!--<h1>Homes#top</h1>-->
<!--<p>Find me in app/views/public/homes/top.html.erb</p>-->

<div class='container'>
  <div class='row'>
    <h1 class="px-3 mx-auto">Today's Challenge</h1>
  </div>
  
  <div class='row'>
    <h2 class="px-3 mx-auto"><%= @theme %></h1>
  </div>


</div>

