<div class="jumbotron jumbotron-fluid">
  <div class="container text-white">
    <h2>Today's Challenge</h2>
    <h1 class="px-3 border"><%= @daily_theme %></h1>
  </div>
</div>

<div class="container mt-5">
  
  <div class="row d-flex justify-content-center"><h3>新着</h3></div>
  
  <!--ライン-->
  <div class="col border-top"></div>
  
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
    <%= render "public/posts/index", posts: @posts %>
  </div>
  <%= paginate @posts %>
</div>