<div class='container mt-5'>
  <div class='row'>
    <h2 class="px-3 mx-auto">Today's Challenge</h2>
  </div>
  
  <div class='row'>
    <h1 class="px-3 mx-auto border mt-1"><%= @daily_theme %></h1>
  </div>
  
  <div class="row"><h3>今日のみんなの投稿</h3></div>
  
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-4">
        <%= link_to post_path(post.id) do %>
          <%= image_tag post.image.variant(resize: '500x500'), class: "img-fluid mt-3" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

