.flash-message p {
  margin-bottom: 0;
}

header {
  background-color: #2E3A59;
}

.head-text, .head-text:hover {
  color: #F2E9E4 !important;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(242,233,228,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler{
  border-color: #F2E9E4 !important;
}

.head-about {
  font-size: 15px;
}

.jumbotron {
  background: url('../images/top_image.jpg') no-repeat center center;
  background-size: cover;
  background-color: rgba(0,0,0,0.5);
  background-blend-mode: darken;
}

body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

.top-text {
  font-family:"Yu Gothic",
  "游ゴシック",
  YuGothic,
  "游ゴシック体",
  "Helvetica Neue",
  Arial,
  "Hiragino Kaku Gothic ProN",
  "Hiragino Sans",
  Meiryo,
  sans-serif;
  ;
}

.soat:hover, .tab:hover {
  color: black !important;
}

.pagination {
  justify-content: center;
}

.show-tag-icon, .show-fav {
  font-size: 25px;
}

.show-tag-icon {
  color: #6C757D;
}

.comment-member_name {
  font-weight: bold;
}

.jscroll-div .pagination{
  display: none;
}
