header {
  background-color: #2E3A59;
}

.head-text {
  color: #F2E9E4;
}

.head-about {
  font-size: 15px;
}

.pagination {
  justify-content: center;
}

.show-tag-icon, .show-fav {
  font-size: 25px;
}

.comment-member_name {
  font-weight: bold;
}